Source: python-mkdocs
Section: text
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Brian May <bam@debian.org>,
 Carsten Schoenert <c.schoenert@t-online.de>,
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 pybuild-plugin-pyproject,
 python3-all,
Build-Depends-Indep:
 ghp-import (>= 1.0) <!nocheck>,
 mkdocs-autorefs <!nodoc>,
 mkdocs-click <!nocheck> <!nodoc>,
 mkdocs-literate-nav <!nodoc>,
 mkdocs-redirects <!nodoc>,
 mkdocstrings <!nodoc>,
 mkdocstrings-python-handlers <!nodoc>,
 python3-babel,
 python3-click <!nodoc>,
 python3-hatchling,
 python3-jinja2 <!nocheck>,
 python3-markdown <!nocheck>,
 python3-markdown-callouts <!nodoc>,
 python3-mergedeep <!nocheck>,
 python3-platformdirs <!nocheck>,
 python3-pymdownx <!nocheck>,
 python3-pyyaml-env-tag <!nocheck>,
 python3-setuptools,
 python3-watchdog <!nocheck>,
 python3-yaml <!nocheck>,
Rules-Requires-Root: no
Standards-Version: 4.7.2
Homepage: https://github.com/mkdocs/mkdocs
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-mkdocs
Vcs-Git: https://salsa.debian.org/python-team/packages/python-mkdocs.git

Package: mkdocs
Architecture: all
Depends:
 fonts-font-awesome,
 libjs-bootstrap5,
 libjs-jquery,
 libjs-lunr,
 python3-livereload,
 python3-lunr,
 sphinx-rtd-theme-common,
 ${misc:Depends},
 ${python3:Depends}
Suggests: ghp-import, mkdocs-doc, nodejs, python3-babel
Provides: dh-sequence-mkdocs
Description: Static site generator geared towards building project documentation
 MkDocs is a fast, simple and downright gorgeous static site generator
 that's geared towards building project documentation. Documentation
 source files are written in Markdown, and configured with a single YAML
 configuration file.

Package: mkdocs-doc
Section: doc
Architecture: all
Depends:
 libjs-bootstrap5,
 libjs-jquery,
 libjs-lunr,
 ${misc:Depends},
 ${mkdocs:Depends}
Description: Static site generator (documentation)
 MkDocs is a fast, simple and downright gorgeous static site generator
 that's geared towards building project documentation. Documentation
 source files are written in Markdown, and configured with a single YAML
 configuration file.
 .
 This package contains the HTML documentation.
